/* Your responsive CSS styles go here */
@media(min-width: 1000px){
    #personal{
        width: 350px;
    }
}

@media(min-width: 501px) and (max-width: 800px){
    table{
        width: 350px;
    }
}

@media(max-width: 500px){
    #work{
        width: 350px;
    }
}

@media(max-width: 500px){
    #edu{
        width: 350px;
    }
}

@media(max-width: 500px){
    #certificates{
        width: 350px;
    }
}

@media(max-width: 500px){
    #form{
        width: 350px;
    }
}